@using CMS.Enums
@using CMS.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CMS.styles.css" asp-append-version="true"/>
</head>
<body>
<header>

    @{
        var userModel = ViewData["CurrentUserModel"] as UserModel;
    }

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="Home">Galak Pizza</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (userModel?.Role == UserRolesEnum.Administrator || userModel?.Role == UserRolesEnum.Analyst)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User"
                               asp-action="Index">Użytkownicy</a>
                        </li>
                    }
                    @if (userModel?.Role == UserRolesEnum.Administrator || userModel?.Role == UserRolesEnum.Analyst || userModel?.Role == UserRolesEnum.Author)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category"
                               asp-action="Index">Kategorie</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="Index">Podstrony</a>
                    </li>
                    @if (userModel?.Role == UserRolesEnum.Administrator || userModel?.Role == UserRolesEnum.Analyst || userModel?.Role == UserRolesEnum.Moderator)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Entry"
                               asp-action="Index">Wyświetlenia</a>
                        </li>
                    }
                    @if (userModel?.Role == UserRolesEnum.Administrator || userModel?.Role == UserRolesEnum.Analyst || userModel?.Role == UserRolesEnum.Moderator)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rate" asp-action="Index">Oceny</a>
                        </li>
                    }
                    @if (userModel?.Role == UserRolesEnum.Administrator || userModel?.Role == UserRolesEnum.Analyst || userModel?.Role == UserRolesEnum.Moderator)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comment"
                               asp-action="Index">Komentarze</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Galak Pizza - <a href="https://kamilmatyja.pl">Kamil Matyja</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>