html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.tox-tinymce {
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.form-group {
    margin-bottom: 14px;
}

.section-buttons {
    margin-top: 5px;
}

.image-form {
    max-width: 100px;
    max-height: 100px;
}

.page-image {
    width: 100%;
}